---
layout: default

---


<div class="row white-row">
  <div class="col-lg-6 col-md-6 map-container">
    <div id="map"></div>
  </div>
  <div class="col-lg-6 col-md-6">
    <h2>Open Data Day {{ page.eventTitle }}</h2>
    <ul class="city-list">
      <li class="box">
        <div class="box-header">Open Data Day {{ page.eventTitle }}</div>
        <div class="box-content">
          {{ page.where }}<br/>
          {{ page.when }}
        </div>
      </li>
      {% if page.info %}
      <li class="box">
        <div class="box-content city-info">
          {{ page.info }}
        </div>
      </li>
      {% endif %}
    </ul>
    {{ content }}
  </div>
</div>


<script>
  (function(){
    var map = L.map(
      'map',
      {
        dragging: false,
        touchZoom: false,
        scrollWheelZoom: false,
        doubleClickZoom: false,
        boxZoom: false,
        zoomControl: false,
        keyboard: false
      }
    ).setView([{{ page.lat }}, {{ page.lng }}], 12);

    var tileServer = 'http://tiles.codefor.de/static/bbs/germany/{z}/{x}/{y}.png';
    L.tileLayer(tileServer).addTo(map);
    map.attributionControl.setPrefix(false);
    map.attributionControl.addAttribution('Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>');

    var marker = L.marker(
      [{{ page.lat }}, {{ page.lng }}],
      {
        clickable: true,
        title: 'Open Data Day {{ page.name }}'
      }
    ).addTo(map);
  }());
</script>
